<div class="container" style="margin-top: 100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4> Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">

                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"></textarea>
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
                </div>
                <div class="mb-3 row">
                    <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
                </div>
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </form>
            {{#if error}}
            {{message}}
            {{/if}}

      </div>
    </div>
</div>